body {
    margin: 0;
}

.navbar {
    background: white;
    padding: 15px;
}

.navdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo a {
    font-size: 25px;
    color: black;
    text-decoration: none; /* moved from global selector */
    font-family: "DM Serif Display", serif; /* font specified for the logo */
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    display: inline-block;
    margin-right: 25px;
}

li a {
    color: black;
    font-size: 18px;
    text-decoration: none;
    font-family: "DM Serif Display", serif;
}

.main_section {
    background: rgba(229, 208, 228, 0.38);
    text-align: center;
    padding: 20px;  /*added padding for better spacing */
    box-sizing: border-box; /* include padding in the element's total width and height */
}

.maintxt {
    font-size: 121px; /* adjusted font size */
    font-weight: 400; /* adjusted font weight */
    font-family: "DM Serif Display", serif; /* font specified for the main text */
}

.subtxt {
    font-size: 38px; /* adjusted font size */
    margin-top: 0px; /* added margin for better spacing */
    
     /* font specified for the subtext */
}
